.lead{
  color: rgb(70, 60, 161);
  font-family: 'Courier New', Courier, monospace;
}
.para{
color: black;
}
.image-card{
  width: 30vw;
  height: 30vh;
}
.main-div mat-card{
margin-left:2vw ;
padding: 0px;
}
.form{
  padding: 2vw;
}
.home-image{
  background-image: url("../../../assets/Notes.jpg");
}
.jumbo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
}