<app-navbar></app-navbar>
<div class="home-image">
    <div class="jumbotron jumbotron-fluid jumbo">
        <div class="container">
            <h1 class="display-4" ><b>WELCOME TO ED-PLANNER</b></h1>
            <q class="lead">A personalized to-do list application</q><br /><br />
           
                      <mat-accordion>
              
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     How ed-Planner Works?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="para2">
                    <mat-icon matSuffix>done</mat-icon><mat-icon matSuffix>login</mat-icon> Create a new account with ed-planner <br/>
                    <mat-icon matSuffix>done</mat-icon><mat-icon matSuffix>add_circle_outline</mat-icon>  Click on create button to create a list, You can add multiple tasks and subtasks for the list<br/>
                    <mat-icon matSuffix>done</mat-icon><mat-icon matSuffix>person_search</mat-icon>  User Icon will help you get the details of current online users<br/>
                    <mat-icon matSuffix>done</mat-icon><mat-icon matSuffix>perm_contact_calendar</mat-icon>Select any online user to send friend request<br/>
                    <mat-icon matSuffix>done</mat-icon><mat-icon matSuffix>view_list</mat-icon>  Up on accepting, user will be shown under Your friends list<br/>
                    <mat-icon matSuffix>done_outline</mat-icon>  click on user to display their lists 
                 </p>
                </mat-expansion-panel>
              </mat-accordion>
              
        </div>
    </div>
    <div class="main-div">
        <div class="spacer"> </div>
        <mat-card class="card" fxFlex="25" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-toolbar class="card-2">
                <mat-icon>login</mat-icon> Login</mat-toolbar><br/>
            <span class="cred-invalid" *ngIf="isValidCredentials"> <mat-icon>warning</mat-icon>{{userNotFound}}</span>

            <form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column" class="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>Email ID</mat-label>
                    <input [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched" type="text" formControlName="email" matInput placeholder="Registered Email ID" />
                </mat-form-field>
                <div *ngIf="(emailControl.invalid && emailControl.touched) || emailControl.dirty">
                    <small *ngIf="emailControl.errors?.required" class="text-danger">Primary email is required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="emailControl.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                </div>
                <mat-form-field *ngIf="!isFp" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" type="password" matInput formControlName="password" placeholder="Enter password" />
                </mat-form-field>
                <div *ngIf="(passwordControl.invalid && passwordControl.touched) || passwordControl.dirty">
                    <small *ngIf="passwordControl.errors?.required" class="text-danger">Password required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="passwordControl.errors?.pattern" class="text-danger">Password length should be atleast 8 and should have a number in it.</small>
                </div>
                <p>Dont have an account?<a [routerLink]="['/user/signup']">Signup</a></p>
                <p><a *ngIf="!isFp" (click)="forgotPassword()">Forgot password?</a></p>
                <button *ngIf="!isFp" mat-raised-button color="accent" [disabled]="!loginForm.valid" type="submit">Login</button>
                <button *ngIf="isFp" mat-raised-button color="accent" type="submit">Reset Password</button>

            </form>
        </mat-card>
    </div>
</div>


<app-footer></app-footer>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: rgb(192, 192, 192)">Loading...</p>
</ngx-spinner>
<router-outlet></router-outlet>