.lead{
  color: rgb(70, 60, 161);
  font-family: 'Courier New', Courier, monospace;
}
.para{
color: black;
}
.image-card{
  width: 30vw;
  height: 30vh;
}
.main-div mat-card{
margin-left:4vw ;
padding: 0px;
border: 5px black;
border-radius: 10px;
}
.form{
  padding: 2vw;
}
.card{
  margin-right: 3vw;
background-color:#eee;
}
.home-image{
  background-image: url("../../../assets/Notes.jpg");
}
.jumbo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  border: 2px black !important;

}
.spacer{

  flex: 1 1 auto;
}
.cred-invalid{
  color: rgb(37, 25, 25);
  border: 1px solid rgb(185, 0, 0);
  padding: 1vw;
}
.para2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
}