<mat-toolbar color="primary" class="mat-elevation-z">
    <span>
    <mat-icon>post_add</mat-icon> ED-Planner
  </span>
    <div class="spacer"> </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
    <!-- <mat-icon matSuffix  matBadge="15" class="notification-list" matBadgeColor="accent">notifications</mat-icon>   -->
    <mat-icon matSuffix matBadge="15" class="user-list" matBadgeColor="accent">person_search</mat-icon>
  </button>

    <mat-menu #menu="matMenu" class="menu_items">
        <h3 mat-subheader style="text-align: center;  height: 12px;">Your friends</h3>
        <mat-divider></mat-divider>
        <button *ngFor="let friend of friends" mat-menu-item>
      <mat-icon [ngStyle]="{'color':'green'}">stop_circle</mat-icon>
      <span>{{friend.name}}</span>
    </button>
        <mat-divider></mat-divider>
        <h3 mat-subheader style="text-align: center;  height: 12px;">You may know</h3>
        <mat-divider></mat-divider>
        <button mat-menu-item *ngFor="let person of userList" (click)="sendFriendRequest(person.userId,person.name)">
      <mat-icon>person_add</mat-icon>
      
       
      
      <span >{{person.name}}</span><span *ngIf="isCompleted()"> Pending</span>
    </button>
    </mat-menu>


    <button mat-button [routerLink]="['/user']" *ngIf="!isLoggedin">Home</button>
    <button mat-raised-button color="accent" *ngIf="isLoggedin" [matMenuTriggerFor]="logout">
    <mat-icon>account_circle</mat-icon>Hello {{uname}}
  </button>
    <mat-menu #logout="matMenu">
        <button mat-button (click)="lout()">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
    </mat-menu>
    <button mat-raised-button color="accent" [routerLink]="['/user/signup']" *ngIf="!isLoggedin">Signup</button>

</mat-toolbar>