.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    background-color: blueviolet;
    width: 23vw;
}

.menu-close {
    width: 12vw;
}

.menu-open {
    width: 25vw;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

.online-users {
    width: 80%;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.active-cards {
    padding: 2vw;
}

.list-header {
    padding-left: 30vw;
    background-color: rgb(194, 207, 158);
    border: 1px solid black;
}

.list-title {
    padding-top: 2vh;
    text-transform: uppercase;
    color: rgb(51, 9, 51);
    text-align: center;
}

@media (max-width: 767px) {
    .dot {
        height: 25px;
        width: 32px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }
}