<app-navbar></app-navbar>
<div class="container">
  <div class="register-div">
    <div class="title">
      <h1>Login</h1>
    </div>
    <div class="register-form">
      <form>
        <div class="input-div">
          <input type="text" id="email" required autocomplete="off" />
          <label for="email">email</label>
          <div class="bar"></div>
        </div>

        <div class="input-div">
          <input type="password" id="pass" required autocomplete="off" />
          <label for="pass">password</label>
          <div class="bar"></div>
        </div>
        <div class="forgotPassword">
          <p>Forgot password? <a>Reset</a></p>
        </div>
        <div class="input-div">
          <input type="button" [routerLink]="['/list']" value="Login" />
        </div>
      </form>
    </div>
    <div class="go-to-login">
      <h3>Dont have account?</h3>
      <h3><a [routerLink]="['/user/signup']">Signup</a></h3>
    </div>
    <br />
  </div>
</div>

<router-outlet></router-outlet>
