body{
    background-color: #D6E4ED;
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #e4e47a, #f0c142);
    height: 80vh;
    width: 35vw;
    box-shadow: 10px 20px 10px gray;
}

.register-div{
    
    width: 300px;
    height: 100%;
    position: relative;
}
.title{
    position: absolute;
    top: 30px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    margin-left: -25px;
    border-left: 10px solid black;
}

.register-form{
    position: absolute;
    width: 100%;
    top: 170px;
}

.input-div{
    width: 100%;
    font-size: 18px;
}

input{
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 30px;
    background: none;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    box-shadow: none;
}

input::selection{
    background-color: black;
    color: #fad714;
}

.bar::before{
    display: block;
    position: relative;
    top: -27px;
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    transition: 250ms;
}

input:focus ~ .bar::before{
    height: 2px;
    width: 100%;
}

input[type=button]{
    cursor: pointer;
    height: 35px;
    margin-left: auto;
    margin-top: 15px;
    font-size: 20px;
    width: 50%;
    background-color: black;
    color: #fad714;
    transition: 200ms;
}

input[type=button]:hover{
    transform: translateX(45px);
}

label{
    display: inline-block;
    position: relative;
    bottom: 27px;
    transition: 200ms;
    transform-origin: left;
    cursor: text;
}

input:focus + label{
    bottom: 50px;
    transform: scale(.8);
    font-weight: 400;
}

input:valid + label{
    bottom: 50px;
    transform: scale(.8);
}

.go-to-login{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 7px black;
    transition: 150ms;
    padding-bottom: 3px;
}

.go-to-login:hover{
    border-bottom: solid 15px black
}

.go-to-login:hover a{
    font-weight: 600
}

.go-to-login h3{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: black;
    transition: 100ms;
}
.forgotPassword{
  height: 5vh;
}
