.main-div mat-card{
    margin-left:4vw ;
    padding: 0px;
    border: 5px black;
    border-radius: 10px;

    }
    .form{
        padding: 2vw;
        padding-bottom: 7vh;
      }
      body{
        background-image: url("../../../assets/Notes.jpg");
      }