<body>
<div fxLayoutAlign="center center" class="main-div" fxFlexFill>
  <div class="spacer">  </div>
  <mat-card fxFlex="25" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-toolbar color="primary"><mat-icon>login</mat-icon> Signup</mat-toolbar><br/>
    <form fxLayoutAlign="stretch" fxLayout="column" class="form">
      <mat-form-field class="example-full-width">
        <mat-label>Email ID</mat-label>
        <input matInput placeholder="Email ID" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mobile number</mat-label>
        <input matInput placeholder="Mobile number" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter password" />
      </mat-form-field>
     <p>Already have an account?<a [routerLink]="['/user']">signin</a></p> 
      <button mat-raised-button color="accent" type="submit" [routerLink]="['/list']">Login</button>
  
    </form>
  </mat-card>
</div>
</body>